<div>
    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>


    <div class="container-fluid">
        <div class="panel panel-default">
            <h1 class="list-header">Games</h1>
            <div class="container-fluid">
                <a class="btn btn-success btn-block"
                   href="#!/admin/game/new">Create Game</a>
                <ul class="list-group">
                    <li ng-repeat="game in model.games"
                        class="list-group-item result">
                        <a href="/project#!/game/{{game._id}}">{{game.gameName}}</a>
                        <a class="btn btn-warning"
                           href="/project#!/admin/game/{{game._id}}">Edit</a>
                        <a class="btn btn-danger"
                           ng-click="model.deleteGame(game._id)">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>
</div>