<div>
    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>

    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-1 jumbotron-shift">Admin Page!</h1>
            <p class="lead jumbotron-shift">It's a secret to everybody...</p>
            <h2 class="display-2 jumbotron-shift">Get Started!</h2>

            <a href="/project#!/admin/user"
               class="btn btn-info">User Management</a>

            <a href="/project#!/admin/game"
               class="btn btn-primary jumbotron-btn">Game Management</a>

            <a href="/project#!/admin/usergame"
               class="btn btn-warning jumbotron-btn">UserGame Management</a>
        </div>
    </div>

    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>
</div>