<nav class="navbar navbar-default navbar-fixed-top gray-navbar blue-brands">
    <div class="container-fluid">
        <a class="navbar-brand navbar-left"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand navbar-left">
            Choose Widget
        </a>
    </div>
</nav>

<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="name">Widget Name</label>
    <input id="name"
           ng-model="model.widget.name"
           class="form-control"/>

    <div class="widget-choice">
        <a ng-click='model.handleChoice("HEADING", model.widget.name)' class="blue">
            <p>Header</p>
        </a>
    </div>
    <div class="widget-choice">
        <a class="blue">
            <p>Label</p>
        </a>
    </div>
    <div class="widget-choice">
        <a ng-click='model.handleChoice("HTML", model.widget.name)' class="blue">
            <p>HTML</p>
        </a>
    </div>
    <div class="widget-choice">
        <a ng-click='model.handleChoice("TEXT", model.widget.name)' class="blue">
            <p>Text Input</p>
        </a>
    </div>
    <div class="widget-choice">
        <a class="blue">
            <p>Link</p>
        </a>
    </div>
    <div class="widget-choice">
        <a class="blue">
            <p>Button</p>
        </a>
    </div>
    <div class="widget-choice">
        <a ng-click='model.handleChoice("IMAGE", model.widget.name)' class="blue">
            <p>Image</p>
        </a>
    </div>
    <div class="widget-choice">
        <a ng-click='model.handleChoice("YOUTUBE", model.widget.name)' class="blue">
            <p>Youtube</p>
        </a>
    </div>
    <div class="widget-choice">
        <a class="blue">
            <p>Data Table</p>
        </a>
    </div>
    <div class="widget-choice">
        <a class="blue">
            <p>Repeater</p>
        </a>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>