<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container fluid">
        <h1>Edit Profile</h1>
        <div class="container-fluid">
            <label>Password</label>
            <input ng-model="model.user.password"
                   class="form-control"
                   type="password"/>

            <label>Confirm Password</label>
            <input ng-model="model.user.password"
                   class="form-control"
                   type="password"/>

            <label>Name</label>
            <input ng-model="model.user.username"
                   class="form-control"/>
        </div>
        <a class="btn btn-block btn-danger">Delete Account</a>
    </div>
</body>
</html>