<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="../../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <link href="../../stylessheets/styles.css" rel="stylesheet"/>
        <link href="../../stylessheets/styles2.css" rel="stylesheet"/>
        <title>Edit Heading</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top gray-navbar">
            <div class="container-fluid">
                <a class="navbar-brand navbar-left" href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand navbar-left" href="#">
                    Widget Edit
                </a>
                <a class="navbar-brand navbar-right" href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </nav>

        <div class="container-fluid">

            <label for="name">
                Name
            </label>
            <input id="name" class="form-control" placeholder="Header Name"/>

            <label for="text">
                Text
            </label>
            <input id="text" class="form-control" placeholder="Text"/>

            <label for="size">
                Size
            </label>
            <input id="size" class="form-control" placeholder="Header Size"/>

            <a href="widget-list.view.client.html" class="btn btn-block btn-danger">Delete</a>

        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <a class="navbar-brand navbar-right" href="../../user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </nav>

    </body>
</html>