<html ng-app="<%= application.name %>">
    <head>
        <link href="/css/bootstrap.css" rel="stylesheet"/>
        <script src="../../../assignment/Assignment6/vendor/angular/angular.min.js"></script>
        <script src="../../../assignment/Assignment6/vendor/angular/angular-route.min.js"></script>
        <script src="./wam/app.js"></script>
        <script src="./wam/config.js"></script>
    </head>
    <body>
        <h1>Hello</h1>
        <div ng-view></div>
    </body>
</html>