<nav class="navbar navbar-default navbar-fixed-top blue-navbar">
    <div class="container-fluid">
        <a class="navbar-brand navbar-left white-icons">
            Profile
        </a>
        <a class="navbar-brand navbar-right white-icons"
           ng-click="model.updateUser(model.user)">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">

    <h1>Profile</h1>

    <div ng-show="model.message" class="alert alert-success">
        {{model.message}}
    </div>

    <label>Username</label>
    <input readonly
           ng-model="model.user.username"
           id="username"
           class="form-control"
           placeholder="Username"/>

    <label>Password</label>
    <input readonly
           type="password"
           class="form-control"
           placeholder="Enter New Password"
           ng-model="model.user.password"/>

    <label>First Name</label>
    <input ng-model="model.user.firstName"
           class="form-control"
           placeholder="Enter Your First Name"
           value="Bort"/>

    <label>Last Name</label>
    <input ng-model="model.user.lastName"
           class="form-control"
           placeholder="Enter Your Last Name"
           value="Simpleflips"/>

    <label>Email</label>
    <input type="email"
           placeholder="Enter Your Email"
           class="form-control"
           value="IDontHaveAnyJokesHere@gmail.com"/>

    <a href="#!/user/{{model.user._id}}/website"
       class="btn btn-block btn-primary">
        Websites
    </a>

    <a href="model.updateUser(model.user)">Update User</a>

    <a href="#!/login" class="btn btn-block btn-danger">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom blue-navbar">
    <div class="container-fluid">
        <a class="navbar-brand navbar-right white-icons">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>