input.form-control {
    margin-bottom: 5px;
}

.btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.white {
    color:white;
}

body {
    margin-top: 70px;
    margin-bottom: 60px;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.move-right {
    float: right;
    margin-right: 10px;
}
.heading {
    background-color:beige;
    font-weight: bold;
}