<div class="hidden-sm hidden-md hidden-lg">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <a class="navbar-brand navbar-left"
               ng-show="model.linkBack"
               ng-click="model.handleBack()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="navbar-brand navbar-right"
               ng-show="model.user._id"
               href="/project#!/profile/{{model.user._id}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a class="navbar-brand navbar-right"
               ng-hide="model.user._id"
               href="#!/login">
                Login
            </a>

            <a ng-if="model.user.role === 'ADMIN'"
               href="/project#!/admin"
               class="navbar-brand navbar-right">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>

        </div>
    </nav>
</div>