<div>
    <h1>{{model.user.username}}'s Game List</h1>

    <a ng-show="model.showPersonal"
       ng-click="model.clearGameList()"
       class="btn btn-block btn-danger">Delete List</a>

    <div class="container fluid">
        <ul class="list-group">
            <li ng-repeat="game in model.games"
                class="list-group-item"
                ng-click="model.redirectTo(game.gameId)">
                <a href="#!/game/{{game.gameId}}"><img ng-src="{{game.gameCover}}"/></a>
                <a href="#!/game/{{game.gameId}}">{{game.gameName}}</a>
                {{game.rating}}
                <a ng-show="model.showPersonal"
                   href="#!/profile/{{model.userId}}/gamelist/{{game._id}}"
                   class="btn btn-primary">Edit</a>
                <a ng-show="model.showPersonal"
                   ng-click="model.deleteUserGame(game)"
                   class="btn btn-warning">Remove</a>
                <p>{{game.notes}}</p>
            </li>
        </ul>
    </div>
</div>