<div>
    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <h1 class="list-header">{{model.user.username}}'s Game List</h1>
            <p ng-show="model.showPersonal"
               class="list-header">Use this to list the games you own or have played!</p>
            <p ng-hide="model.showPersonal"
               class="list-header">{{model.user.username}}'s collection of games!</p>

            <a ng-show="model.showPersonal"
               ng-click="model.clearGameList()"
               class="btn btn-block btn-danger delete-list">Delete List</a>

            <hr/>

            <div class="container fluid">
                <ul class="list-group">
                    <li ng-repeat="game in model.games"
                        class="list-group-item result"
                        ng-click="model.redirectTo(game.gameId)">
                        <img ng-src="{{game.gameCover}}"
                             href="#!/game/{{game.gameId}}"/>
                        <a href="#!/game/{{game.gameId}}">{{game.gameName}}</a>
                        <a ng-show="model.showPersonal"
                           href="#!/profile/{{model.userId}}/gamelist/{{game._id}}"
                           class="btn btn-primary">Edit</a>
                        <a ng-show="model.showPersonal"
                           ng-click="model.deleteUserGame(game)"
                           class="btn btn-warning">Remove</a>
                        <p ng-show="game.notes">{{game.notes}}</p>
                        <p ng-show="game.rating"><strong>Rating: </strong>{{game.rating}}/10</p>
                        <p ng-if="game.playingStatus">
                            <strong>Playing Status: </strong>{{game.playingStatus}}
                        </p>
                        <p ng-if="game.completionStatus">
                            <strong>Completion Status: </strong>{{game.completionStatus}}
                        </p>
                        <p ng-if="game.ownershipStatus">
                            <strong>Ownership Status: </strong>{{game.ownershipStatus}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>
</div>