<div>
    <h1>Edit {{model.game.name}}</h1>
    <!--Needs:
    - A dropdown for rating
    - Three radio forms: playingStatus, ownershipStatus, completionStatus
    - Textbox where user can write whatever they want to say about the game.
    -->
    <label for="completion">
        Progress
    </label>
    <form id="completion"
          ng-model="model.game.completionStatus">
        <input type="radio" value='unplayed'> Unplayed
        <input type="radio" value='unfinished'> Unfinished
        <input type="radio" value='beaten'> Beaten
        <input type="radio" value='completed'> Completed
        <input type="radio" value='mastered'> Mastered
        <input type="radio" value='other'> Other
    </form>

    <label for="playing">
        Playing Status
    </label>
    <form id="playing"
          ng-model="model.game.completionStatus">
        <input type="radio" value='notPlaying' checked> Not Playing
        <input type="radio" value='playing'> Now Playing
        <input type="radio" value='replaying'> Replaying
        <input type="radio" value='extras'> Doing Extras
        <input type="radio" value='competitive'> Competitive/Multiplayer
        <input type="radio" value='other'> Other
    </form>

    <label for="ownership">
        Ownership
    </label>

    <form id="ownership"
          ng-model="model.game.completionStatus">
        <input type="radio" value='haventPlayed' checked> Haven't Played
        <input type="radio" value='firstPlay'> Unfinished
        <input type="radio" value='shelved'> Beaten
        <input type="radio" value='gaveUp'> Completed
        <input type="radio" value='donePlaying'> Mastered
        <input type="radio" value='replaying'> Other
    </form>

    <label for="rating">
        Rating (out of 10)
    </label>
    <select id="rating"
            ng-model="model.game.rating">
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">0</option>
    </select>

    <label for="notes">
        Notes
    </label>
    <textarea rows="3"
              id="notes"
              placeholder="Be it progress you've made, thoughts on the game, write whatever you want to say about it!"
              ng-model="model.comment"></textarea>

    <a>Submit Changes</a>

</div>