<div>
    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>


    <div class="container-fluid">
        <div class="panel panel-default">
            <h1 class="list-header">Users</h1>
            <p class="list-header">The users and their properties! The String next to the username is the user's ID</p>
            <div class="container-fluid">
                <a class="btn btn-success btn-block"
                   href="#!/admin/user/new">Create User</a>
                <ul class="list-group">
                    <li ng-repeat="user in model.users"
                        class="list-group-item result">
                        <a href="/project#!/profile/{{user._id}}">{{user.username}} ({{user._id}})</a>
                        <a class="btn btn-warning"
                           href="/project#!/admin/user/{{user._id}}">Edit</a>
                        <a class="btn btn-danger"
                           ng-click="model.deleteUser(user._id)">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>
</div>