<div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h1>Search</h1>
        <input ng-model="model.gameName"
               id="game"
               class="form-control"/>
        <button ng-click="model.searchGames(model.gameName)">Get the Games</button>
        <ul class="list-group">
            <li ng-repeat="game in model.games"
                class="list-group-item"
                ng-click="model.initGame(game)">
                <img ng-src="{{game.cover}}"/>
                {{game.name}}
                {{game.genre}}
            </li>
        </ul>
    </div>

    <div ng-show="model.game"
         class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h1>Details</h1>
        <h2>{{model.game.name}}</h2>
        <img ng-src="{{model.game.cover}}" width="50%"/>
        <h3 ng-show="model.game.summary">Summary</h3>
        <p>{{model.game.summary}}</p>
        <h3 ng-show="model.allGenres">Genres</h3>
        <p>{{model.allGenres}}</p>
        <h3 ng-show="model.game.website" ng-href="{{model.game.website}}">More info</h3>
    </div>

</div>