<div>
    <h1>UserGames</h1>

    <ul class="list-group">
        <li ng-repeat="userGame in model.userGames"
            class="list-group-item">
            <p>{{userGame.gameName}} ({{userGame.user}})</p>
            <a class="btn btn-warning"
               href="#!/admin/usergame/{{userGame._id}}">Edit</a>
            <a class="btn btn-danger"
               ng-click="model.deleteUserGame(userGame._id)">Delete</a>
        </li>
    </ul>

    <a href="#!/admin">Return to Admin Page</a>
</div>