<div>
    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>


    <div class="container-fluid">
        <div class="panel panel-default">
            <h1 class="list-header">UserGames</h1>
            <div class="container-fluid">
                <a class="btn btn-success btn-block"
                   href="#!/admin/usergame/new">Create UserGame</a>
                <ul class="list-group">
                    <li ng-repeat="userGame in model.userGames"
                        class="list-group-item result">
                        <p>{{userGame.gameName}} ({{userGame.user}})</p>
                        <a class="btn btn-warning"
                           href="#!/admin/usergame/{{userGame._id}}">Edit</a>
                        <a class="btn btn-danger"
                           ng-click="model.deleteUserGame(userGame._id)">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>
</div>