<div>

    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>

    <div class="container-fluid">
        <div ng-show="model.message"
             class="alert alert-success">
            {{model.message}}
        </div>

        <div class="container-fluid">
            <div class="panel panel-primary container-fluid">
                <h1>Edit UserGame</h1>
                <label>Name</label>
                <input ng-model="model.userGame.gameName"
                       class="form-control"/>

                <label>Cover</label>
                <input ng-model="model.userGame.gameCover"
                       class="form-control"/>

                <label>Game ID</label>
                <input ng-model="model.userGame.gameId"
                       class="form-control"/>

                <label>Associated User (The UserID. You can copy it from the edit user menu.)</label>
                <input ng-model="model.userGame.user"
                       class="form-control"/>

                <label>Playing Status</label>
                <select class="form-control"
                        ng-model="model.userGame.playingStatus">
                    <option value='Not Playing'>Not Playing</option>
                    <option value='Playing'>Now Playing</option>
                    <option value='Replaying'>Replaying</option>
                    <option value='Extras'>Doing Extras</option>
                    <option value='Competitive'>Competitive/Multiplayer</option>
                    <option value='Other'>Other</option>
                </select>

                <label>Ownership Status</label>
                <select class="form-control"
                        ng-model="model.userGame.ownershipStatus">
                    <option value='Own Physical'>Own Physical Copy</option>
                    <option value='Own Digital'>Own Digital Copy</option>
                    <option value='Rental'>Rented</option>
                    <option value='Previously Owned'>Previously Owned</option>
                    <option value='Borrowed'>Borrowed</option>
                    <option value='Lost'>Lost</option>
                    <option value='Other'>Other</option>
                </select>

                <label>Completion Status</label>
                <select class="form-control"
                        ng-model="model.userGame.completionStatus">
                    <option value='Unplayed'>Unplayed</option>
                    <option value='Unfinished'>Unfinished</option>
                    <option value='Beaten'>Beaten</option>
                    <option value='Completed'>Completed</option>
                    <option value='Mastered'>Mastered</option>
                    <option value='Other'>Other</option>
                </select>

                <label>Rating</label>
                <select id="rating"
                        class="form-control"
                        ng-model="model.userGame.rating">
                    <option value=10>10</option>
                    <option value=9>9</option>
                    <option value=8>8</option>
                    <option value=7>7</option>
                    <option value=6>6</option>
                    <option value=5>5</option>
                    <option value=4>4</option>
                    <option value=3>3</option>
                    <option value=2>2</option>
                    <option value=1>1</option>
                    <option value=0>0</option>
                </select>

                <label>Notes</label>
                <input ng-model="model.userGame.notes"
                       class="form-control"/>

                <div class="edit-btns">
                    <a ng-click="model.updateUserGame(model.userGame)" class="btn btn-block btn-warning">Update UserGame</a>
                    <a ng-click="model.deleteUserGame()" class="btn btn-block btn-danger">Delete UserGame</a>
                </div>

            </div>
        </div>
    </div>

    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>

</div>