<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../../../angular/angular.min.js"></script>
        <script src="../../../angular/angular-route.js"></script>
        <script src="../../../app.js"></script>
        <script src="../controllers/widget-list.controller.client.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="../../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <link href="../../stylessheets/styles.css" rel="stylesheet"/>
        <link href="../../stylessheets/styles2.css" rel="stylesheet"/>
        <title>Widget List</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top gray-navbar">
            <div class="container-fluid">
                <a class="navbar-brand navbar-left" href="../../page/page-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand navbar-left" href="#">
                    Widgets
                </a>
                <a class="navbar-brand navbar-right" href="widget-chooser.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </nav>

        {{model.widgets}}

        <div class="container-fluid">
            <div ng-repeat="widget in model.widgets"
                 class="wd-widget">
                <div class="wd-toolbar">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>

                <!--You can use Angular to change up when things get rendered-->
                <div ng-switch="widget.widgetType">
                    <div ng-switch-when="HEADING">
                        <div ng-include="views/widget/templates/widget-heading.view.client.html"></div>
                    </div>
                    <div ng-switch-when="IMAGE">
                        <img ng-src="{{widget.url}}"
                             width="{{widget.width}}"/>
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        {{widget.url}}
                    </div>
                    <div ng-switch-when="HTML"
                        ng-bind-html="model.trustThisContent(widget.text)">
                        <iframe width="1120" height="630" src="{{model.getYoutubeEmbedUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <!--remove this stuff once we get everything working-->

                <h1>PROgRamer</h1>
            </div>
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <h3>Silly things involving programming and video games</h3>
            </div>
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="widget-image.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <img src="https://tcrf.net/images/b/b5/Elmo_in_Grouchland_devpicture1.gif" width="100%"/>
            </div>
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <p>
                    Hello There Pilgrim...<br>
                    <br>
                    If you have hacked this ROM, you no doubt are reading
                    this text. This game is basically a 2 Meg. Game. However,
                    Nintendo, in their infinite wisdom, has decreed that the
                    smallest ROM they will produce for the Gameboy Color is
                    8 Meg. -- Now, what to put in that empty 6 Meg.? So, the
                    developers of the game decided to put .GIF pictures of
                    themselves into the game. Why not? Might as well fill the
                    void with something entertaining. See if you can retrieve
                    them from this ROM. If you do, you win the prize. Please
                    call (609) 466-2092 (in New Jersey, USA) if you have been
                    able to view the two .GIF pictures, located in the rest of
                    the upper 6 Megs of this ROM. We will have a nice reward
                    for you...<br>
                    <br>
                    Good Luck!<br>
                    <br>
                    Roger W. Amidon<br>
                    September 28, 2000
                </p>
            </div>
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="widget-youtube.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <div class="padded-video">
                    <iframe width="1120" height="630" src="https://www.youtube.com/embed/GOfcvPf-22k" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div ng-include="'views/common/footer.view.client.html'"></div>

    </body>
</html>