<div>
    <h1>{{model.user.username}}'s following list</h1>

    <div class="container fluid">
        <ul class="list-group">
            <li ng-repeat="username in model.user.following"
                class="list-group-item">
                <a ng-click="model.redirectTo(username)">{{username}}</a>
                <a ng-show="model.showPersonal"
                   ng-click="model.unFollow(username)"
                   class="btn btn-warning">Unfollow</a>
            </li>
        </ul>
    </div>

    <div>
        <a class="btn btn-block btn-success" href="#!/profile/{{model.user._id}}">Back to Profile</a>
    </div>
</div>