<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="username">
        Username
    </label>
    <input ng-model="model.user.username"
           id="username"
           class="form-control"/>

    <label>Password</label>
    <input ng-model="model.user.password"
           class="form-control"
           type="password"/>

    <a ng-click="model.login(model.user.username, model.user.password)" class="btn btn-block btn-success">
        Login
    </a>

    <!--<a class="btn btn-block black"
       href="/auth/steam">Login through Steam</a>-->

    <a class="btn btn-block btn-primary"
       href="/auth/facebook">
        <span class="fa fa-facebook-official"></span>Login through Facebook</a>



</div>

<div class="container-fluid">

    <h1>Don't have an account? Register here!</h1>

    <label>Username</label>
    <input ng-model="model.newUser.username"
           id="reg-username"
           class="form-control"/>

    <label>Password</label>
    <input ng-model="model.newUser.password"
           class="form-control"
           type="password"/>

    <label>Confirm Password</label>
    <input ng-model="model.newUser.password2"
           class="form-control"
           type="password"/>

    <a ng-click="model.register(model.newUser.username, model.newUser.password, model.newUser.password2)"
       class="btn btn-block btn-success">
        Register
    </a>

    <!--<a class="btn btn-block black">Register through Steam</a>-->

</div>