<div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
<div ng-include="'views/common/desktop-navbar.view.client.html'"></div>

<div class="container fluid">


    <div ng-show="model.message"
         class="alert alert-success">
        {{model.message}}
    </div>

    <div class="container-fluid">
        <div class="panel panel-primary container-fluid">
            <!--<label>Password</label>
        <input ng-model="model.user.password"
               class="form-control"
               type="password"/>-->

            <h1>Edit Profile</h1>

            <label>Name</label>
            <input ng-model="model.user.name"
                   class="form-control"/>

            <label>Email</label>
            <input ng-model="model.user.email"
                   class="form-control"/>

            <label>About Me</label>
            <input ng-model="model.user.description"
                   class="form-control"/>

            <label>Age</label>
            <input ng-model="model.user.age"
                   class="form-control"/>

            <label>Gender (set this to the blank option if you don't wish to specify)</label>
            <select class="form-control"
                    ng-model="model.user.gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option></option>
            </select>

            <div class="edit-btns">
                <a ng-click="model.updateUser(model.user)" class="btn btn-block btn-primary">Save Changes</a>
                <a ng-click="model.logout()" class="btn btn-block btn-warning">Logout</a>
                <a ng-click="model.deleteUser()" class="btn btn-block btn-danger">Delete Account</a>
            </div>

        </div>

    </div>

</div>

<div ng-include="'views/common/mobile-footer.view.client.html'"></div>