<div class="container-fluid">
    <h1>{{model.user.username}}'s Profile</h1>
    <h2 ng-show="model.user.name">Name</h2>
    {{model.user.name}}
    <p ng-show="model.user.name"></p>
    <h2>Join date</h2>
    <p>{{model.user.dateCreated}}</p>
    <h2>Email</h2>
    <p>{{model.user.email}}</p>
    <h2>Bio</h2>
    <p>{{model.user.description}}</p>

    <!--<h2>Games owned</h2>
    <h2>Games played</h2>
    <h2>Games beaten</h2>
    <h2>Games completed</h2>-->
    <a href="#!/profile-edit"
       ng-show="model.showPersonal"
       class="btn btn-block btn-primary">
        Edit profile info
    </a>
</div>

<div class="container-fluid">
    <a class="btn btn-block btn-primary"
       href="#!/profile/{{model.userId}}/gamelist">See games list</a>
</div>

<div class="container-fluid">
    <a class="btn btn-block btn-success"
       href="#!/profile/{{model.userId}}/wishlist">See wishlist</a>
</div>

<div class="container-fluid">
    <a class="btn btn-block btn-warning"
       ng-show="model.showPersonal"
       ng-click="model.logout()">Logout
    </a>
</div>

<div class="container-fluid">
    <a class="btn btn-block btn-success"
       ng-show="model.notFollowing"
       ng-click="model.follow()">
        Follow User
    </a>
</div>

<div class="container-fluid">
    <a class="btn btn-block btn-warning"
       ng-show="model.following"
       ng-click="model.unFollow()">
        Unfollow User
    </a>
</div>

<div class="container-fluid">
    <a class="btn btn-block btn-success"
       href="#!/following/{{model.user._id}}">
        See Following List
    </a>
</div>

<div class="container-fluid">
    <a class="btn btn-block btn-primary"
       href="#!/search">Search for games</a>
</div>

<div class="container-fluid">
    <h1>Profile Comments</h1>
    <textarea rows="3"
              placeholder="Write a Comment..."
              ng-model="model.comment"></textarea>
    <a class="btn btn-primary"
        ng-click="model.addComment(model.comment)">Submit comment</a>
    <div class="container fluid">
        <ul class="list-group">
            <li ng-repeat="comment in model.user.comments"
                class="list-group-item">
                <p><a ng-click="model.redirectTo(comment.username)">{{comment.username}}</a> ({{comment.time}}) :</p>
                <p>{{comment.message}}</p>
            </li>
        </ul>
    </div>
</div>