<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Statistics</h1>
        <h2>Name</h2>
        <h2>Join date</h2>
        <h2>Games owned</h2>
        <h2>Games played</h2>
        <h2>Games beaten</h2>
        <h2>Games completed</h2>
        <a class="btn btn-block btn-primary">Edit profile info</a>
    </div>
    <div class="container-fluid">
        <a class="btn btn-block btn-primary">See my games list</a>
        <a class="btn btn-block btn-success">See my wishlist</a>
    </div>
    <div class="container-fluid">
        <h1>Profile Comments</h1>
        <textarea rows="3"></textarea>
        <div class="container fluid">

        </div>
    </div>
</body>
</html>