<div>
    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>

    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-1 jumbotron-shift">Whoops!</h1>

            <hr/>

            <p class="lead jumbotron-shift">The page you requested was invalid</p>

        </div>
    </div>

    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>
</div>