<nav class="navbar navbar-default navbar-fixed-top blue-navbar">
    <div class="container-fluid">
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
            <a class="navbar-brand navbar-left" href="website-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="website-list.view.client.html">
                Websites
            </a>
            <a class="navbar-brand navbar-right" href="website-new.view.client.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
            <a class="navbar-brand" href="#">
                New Website
            </a>
            <a class="navbar-brand navbar-right" href="website-list.view.client.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="hidden-lg hidden-md">
            <a class="navbar-brand navbar-left hidden-lg hidden-md" href="website-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                New Website
            </a>
            <a class="navbar-brand navbar-right" href="website-list.view.client.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="yellow-bg col-lg-4 col-md-4 hidden-sm hidden-xs">
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item heading">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-9 col-xs-9 heading">
                        Title
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs heading">
                        Date Created
                    </div>
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs heading">
                        Last Edited
                    </div>
                    <div class="move-right">
                        Edit
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-9 col-xs-9">
                        <a href="../../page/page-list.html">
                            Address Book App
                        </a>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        1-1-2017
                    </div>
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                        2-2-2017
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a href="website-edit.view.client.html">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-9 col-xs-9">
                        <a href="../../page/page-list.html">
                            Blogger
                        </a>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        3-3-2017
                    </div>
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                        4-4-2017
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a href="website-edit.view.client.html">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-9 col-xs-9">
                        <a href="../../page/page-list.html">
                            Blogging App
                        </a>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        1-15-2017
                    </div>
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                        2-15-2017
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a href="website-edit.view.client.html">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-9 col-xs-9">
                        <a href="../../page/page-list.html">
                            Script Testing App
                        </a>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        3-15-2017
                    </div>
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                        4-15-2017
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a href="website-edit.view.client.html">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="blue-bg col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           ng-model="website.name"
           placeholder="Name"/>

    <label for="description">Description</label>
    <textarea id="description"
              rows="5"
              class="form-control input.form-control"
              ng-model="website.description"
              placeholder="Description"></textarea>

            <a ng-click="model.updateWebsite(model.website)"
               class="btn btn-block btn-success">
                Update
            </a>

            <a ng-click="model.deleteWebsite(model.websiteId)"
               class="btn btn-block btn-danger">
                Delete
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom blue-navbar">
    <div class="container-fluid">
        <a class="navbar-brand navbar-right" href="">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>