<div>

    <div ng-show="model.message"
         class="alert alert-success">
        {{model.message}}
    </div>

    <div ng-show="model.game">
        <h1>{{model.game.gameName}}</h1>
        <img ng-src="{{model.game.gameCover}}" width="50%"/>
        <h2>Details</h2>
        <h3 ng-show="model.game.gameDescription">Summary</h3>
        <p>{{model.game.gameDescription}}</p>
        <h3 ng-show="model.game.gameGenres">Genres</h3>
        <p>{{model.game.gameGenres}}</p>
        <h4 ng-show="model.game.website" ng-href="{{model.game.website}}">More info</h4>
    </div>

    <a class="btn btn-block btn-primary"
       ng-show="model.notOnGamesList"
       ng-click="model.addToGameList()">Add to GamesList</a>

    <a class="btn btn-block btn-warning"
       ng-show="model.onGamesList"
       ng-click="model.removeFromGamesList()">Remove from GamesList</a>

    <a class="btn btn-block btn-success"
       ng-show="model.notOnWishlist"
       ng-click="model.addToWishList()">Add to Wishlist</a>

    <a class="btn btn-block btn-warning"
       ng-show="model.onWishlist"
       ng-click="model.removeFromWishList()">Remove from Wishlist</a>

    <a class="btn btn-block btn-warning"
       href="#!/profile/{{model.user._id}}">Back to Profile</a>

    <div class="container-fluid">
        <h2>Game Comments</h2>
        <textarea rows="3"
                  placeholder="Write a Comment..."
                  ng-model="model.comment"></textarea>
        <a class="btn btn-primary"
           ng-click="model.addComment(model.comment)">Submit comment</a>
        <div class="container fluid">
            <ul class="list-group">
                <li ng-repeat="comment in model.game.comments"
                    class="list-group-item">
                    <p><a ng-click="model.redirectTo(comment.username)">{{comment.username}}</a> ({{comment.time}}) :</p>
                    <p>{{comment.message}}</p>
                </li>
            </ul>
        </div>
    </div>

</div>