<div>

    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>

    <div ng-show="model.message"
         class="alert alert-success">
        {{model.message}}
    </div>

    <div ng-show="model.game" class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-primary container-fluid">
            <h1 id="game-name">{{model.game.gameName}}</h1>
            <img ng-src="{{model.game.gameCover}}" id="gameImage"/>

            <hr/>

            <div ng-show="model.user._id">
                <a class="btn btn-block btn-primary"
                   ng-show="model.notOnGamesList"
                   ng-click="model.addToGameList()">Add to GamesList</a>

                <a class="btn btn-block btn-warning"
                   ng-show="model.onGamesList"
                   ng-click="model.removeFromGamesList()">Remove from GamesList</a>

                <a class="btn btn-block btn-success"
                   ng-show="model.notOnWishlist"
                   ng-click="model.addToWishList()">Add to Wishlist</a>

                <a class="btn btn-block btn-warning"
                   ng-show="model.onWishlist"
                   ng-click="model.removeFromWishList()">Remove from Wishlist</a>
            </div>
        </div>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Details</div>
            <div class="panel-body">

                <p id="game-descript">{{model.game.gameDescription}}</p>
                <p ng-show="model.game.gameGenres"><strong>Genres: </strong>{{model.game.gameGenres}}</p>
                <p ng-show="model.game.gameDevelopers"><strong>Developers: </strong>{{model.game.gameDevelopers}}</p>
                <p ng-show="model.game.gamePublishers"><strong>Publishers: </strong>{{model.game.gamePublishers}}</p>
                <p ng-show="model.game.gameReleases"><strong>Release Date: </strong>{{model.game.gameReleases}}</p>
                <a ng-show="model.game.website"
                   ng-href="{{model.game.website}}"
                   class="bold">
                    More info
                </a>

                <hr/>

                <div>
                    <h2>Game Comments</h2>

                    <div ng-show="model.user._id">
                        <!--<textarea rows="3"
                                  placeholder="Write a Comment..."
                                  ng-model="model.comment"></textarea>
                            <a class="btn btn-primary"
                               ng-click="model.addComment(model.comment)">Submit comment</a>-->

                        <div class="input-group">
                            <input type="text"
                                   placeholder="Write a Comment..."
                                   ng-model="model.comment"
                                   class="form-control text-input">
                            <span class="input-group-btn comment-btn">
                            <a class="btn btn-primary comment-btn"
                               ng-click="model.addComment(model.comment)">
                                Submit!
                            </a>
                        </span>
                        </div>

                        <ul class="list-group">
                            <li ng-repeat="comment in model.game.comments"
                                class="list-group-item comment">
                                <p>
                                    <a ng-click="model.redirectTo(comment.username)">
                                        {{comment.username}}
                                    </a>
                                    ({{comment.time}}) :
                                </p>
                                <p>{{comment.message}}</p>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>

</div>