<div>

    <div ng-include="'views/common/mobile-navbar.view.client.html'"></div>
    <div ng-include="'views/common/desktop-navbar.view.client.html'"></div>


    <div class="container-fluid">
        <div class="panel panel-default">

            <h1 id="search-header">Search for a game!</h1>

            <p>(Database and API provided by the
                <a href="https://igdb.github.io/api/about/welcome/">Internet Game Database</a>)
            </p>

            <div class="input-group">
                <input ng-model="model.gameName"
                       id="search-game"
                       class="form-control text-input"
                       placeholder="Enter the game you want..."/>
                <span class="input-group-btn comment-btn">
                    <a ng-click="model.searchGames(model.gameName)"
                       class="btn btn-info comment-btn"
                       id="get-games">Go!</a>
                </span>
            </div>

            <div ng-show="model.games">
                <hr/>
                <div class="container-fluid"><h2>Results</h2></div>
                <ul class="list-group">
                    <li ng-repeat="game in model.games"
                        class="list-group-item result"
                        ng-click="model.initGame(game)">
                        <img ng-src="{{game.cover}}"/>
                        {{game.name}}
                        {{game.genre}}
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div ng-include="'views/common/mobile-footer.view.client.html'"></div>

</div>